<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="FastCGI" />
            <add name="FastCGI" path="*.php" verb="*" modules="CgiModule" scriptProcessor="C:\PHP8_3_20Marketbasket\php-cgi.exe" resourceType="File" requireAccess="Script" responseBufferLimit="0" />
        </handlers>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
